<template>
	<Page class="page">
		<ActionBar title="Lista produktów" class="action-bar" />
    <RadListView @itemTap="onItemTap" class="products-list" for="item in items" v-if="!isLoading">
      <ListViewLinearLayout scrollDirection="Vertical" v-tkListViewLayout />
      <v-template>
        <StackLayout class="products-list__item">
          <GridLayout class="products-list__item-content" columns="80, *" rows="*, *">
            <Image :src="item.imageUrl" class="m-r-0" height="80" loadMode="async" row="0" col="0" stretch="none" />
            <StackLayout row="0" col="1" verticalAlignment="center">
              <Label :text="item.name" col="1" textWrap="true" class="products-list__item-name" />
              <Label class="m-r-5" col="1">
                <FormattedString>
                  <Span :text="item.price" />
                  <Span text="PLN" />
                </FormattedString>                
              </Label>              
            </StackLayout>
          </GridLayout>
        </StackLayout>
      </v-template>
    </RadListView>
	</Page>
</template>

<script>
import Details from './Details'
import { mapGetters } from 'vuex';
//import store from '../store'

export default {
  computed: {
    ...mapGetters([
      'items'
    ])
  },
  methods: {
    onItemTap (args) {
      const view = args.view;
      const tappedItem = view.bindingContext;

      this.$navigateTo(Details, {
        props: {
          item: tappedItem,
          animated: true,
          transition: {
            name: 'slide',
            duration: 200,
            curve: 'ease'
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.page {
  background-color: #2C3251;
}

.action-bar {
  background-color: #21274a;
}

.products-list {
  &__item {
    padding: 4 0 4 0;

    &-content {
      padding: 4 15 4 15;
      background-color: #2C3251;
    }
    
    &-name {
      color: #ffffff;
    }
  }
}
</style>