<template>
  <Page class="page">
    <ActionBar class="action-bar">
      <NavigationButton @tap="$navigateBack()" android.systemIcon="ic_menu_back" />
      
      <Label :text="item.name" horizontalAlignment="center" />
    </ActionBar>

    <ScrollView>
      <StackLayout>
        <Image :src="item.imageUrlDetail" row="0" height="300" stretch="aspectFill"/>

        <Label :text="item.name" row="1" textWrap="true" class="p-l-15 p-r-15 p-t-20 p-b-8 h2 text-center" />

        <Label class="hr m-y-15" row="2"/>
        
        <Label :text="item.description" row="3" textWrap="true" class="p-l-15 p-r-15 p-t-15 p-b-15" />

        <Label class="hr m-y-15" row="4"/>

        <GridLayout columns="auto,auto" row="5" rows="*, *, *, *, *, *" class="p-t-15">
          <Label class="p-l-15 p-b-10 m-r-20" row="0" text="Cena: "/>
          <Label class="p-b-10" col="1" row="0">
            <FormattedString>
              <Span :text="item.price"/>
              <Span text="PLN"/>
            </FormattedString>
          </Label>

          <Label class="p-l-15 p-b-10 m-r-20" row="1" text="Rozmiary:" />
          <Label :text="item.sizes" class="p-b-10" col="1" row="1" />

          <Label class="p-l-15 p-b-10 m-r-20" row="2" text="Dostępność:" />
          <Label :text="item.availability" class="p-b-10" col="1" row="2" />

          <Label class="p-l-15 p-b-10 m-r-20" row="3" text="Wysyłka w ciągu:" />
          <Label :text="item.shippingWithin" class="p-b-10" col="1" row="3" />

          <Label class="p-l-15 p-b-10 m-r-20" row="4" text="Cena przesyłki:" />
          <Label :text="item.shippingPrice" class="p-b-10" col="1" row="4" />

          <Label class="p-l-15 p-b-10 m-r-20" row="5" text="Waga:" />
          <Label :text="item.weight" class="p-b-10" col="1" row="5" />            
        </GridLayout>

        <Button text="Kup w sklepie" class="-primary" @tap="onButtonTap"></Button>
      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
  import { Utils } from '@nativescript/core';

  export default {
    props: ['item'],
    methods: {
      onButtonTap (args) {
        Utils.openUrl(this.item.urlShop);
      }
    }    
  };
</script>

<style lang="scss" scoped>
.page {
  background-color: #2C3251;
}

.action-bar {
  background-color: #21274a;
  text-align: center;
}
</style>