<template>
  <div class="container">
    <form class="login" @submit.prevent="login">
      <h1 class="text-center">Logowanie</h1>

      <div v-if="message" class="cointainer-alert" v-html="message"></div>      

      <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="username">Użytkownik</label>
        <input :value="username" @keyup="handlerChangeUsername($event.target.value)" class="form-control form-control-lg" id="username" required type="text" placeholder="Username">
      </div>

      <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="password">Hasło</label>
        <input :value="password" @keyup="handlerChangePassword($event.target.value)" class="form-control form-control-lg" id="password" required type="password" placeholder="Password">
      </div>
      <div class="text-center">
        <button :disabled="submitInProgress" type="submit" class="btn btn-primary btn-lg">Zaloguj</button>
      </div>
    </form>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import * as types from '@/vuex/mutationTypes'
  import { createAlert } from '@/lib/utility'

  export default {
    name: 'LoginPage',
    data() {
      return {
        submitInProgress: false
      }
    },

    computed: mapGetters({
      username: 'getUsername',
      password: 'getPassword',
      logged: 'getLogged',
      message: 'getMessage'
    }),
    
    methods: {
      ...mapActions(['handlerChangeUsername', 'handlerChangePassword']),
      login: async function() {
        this.submitInProgress = true

        const correctUsername = 'test'
        const correctPassword = 'test'

        const username = this.username 
        const password = this.password

        if (username === correctUsername && password === correctPassword) {
          const logged = true

          const user = {
            id: 1,
            username: username,
            name: 'Jan',
            surname: 'Kowalski',
            email: 'jan.kowalski@fakedomain.com',
            for_authorization: true,
            logged: logged
          }

          this.$store.commit(types.SET_USER, user)
        }

        if (!this.logged) {
          const alertHtml = createAlert('Login failed!')

          this.$store.commit(types.SET_MESSAGE, alertHtml)
        } else {
          this.$router.push({ name: 'hello' })
        }

        this.submitInProgress = false
      }
    }
  }
</script>

<style scoped>
  .cointainer-alert {
    margin-top: 50px;
  }

  h1 {
    margin-top: 20px;
  }
</style>
