$color: #000000;
$background-color: #8d226d;
$main-background-color: #3a9cdb;

$font-small: 8px;
$font-large: 20px;

body {
  background-color: $background-color;
  color: $color;
  font-size: $font-large;
}

header {
  text-align: center;
  height: 100px;
  line-height: 101px;
}

main {
  text-align: center;
  background-color: $main-background-color;
  padding: 40px;
}

footer {
  font-size: $font-small;
  text-align: center;
  height: 100px;
  line-height: 100px;
  display: block;
}